@import "./header.css";
@import "./normalize.css";
@import "./bady.css";
@import "./footer.css";
@import "./Carousel.css";
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
